button:active {
/* animation: bounce-in .3s linear; */
/* transform: rotate(1080deg); */
animation: zoom 0.3s linear ;
}

#btRandom {
  animation-name: tourne;
  animation-duration: 1s;
  animation-timing-function:ease ;
  animation-iteration-count: 1;
}

/* #btRandom:active {
animation: zoom 0.3s linear;
} */

@keyframes fadeOut{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
  }

@keyframes zoom {
0% {    transform: scale(1, 1);  }
50% {    transform: scale(1.2, 1.6);  }  
100% {    transform: scale(1, 1);  }  
}
  
@keyframes tourne {
0% {
  transform: rotate(180deg) scale(1);
  opacity:0.5;
}
50% {
  background-color: green;
  transform: rotate(0deg)  scale(2);    
}  
100% {
  transform: rotate(1080deg) scale(1);
  opacity:1;
}
}

   
@keyframes bounce-in {
    /* APPARITION D'UN PLAYER */
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;	
    }
}












