/*  BOUTONS DE BAS DE PAGE : */

/* AFFICHAGE PORTRAIT */
@media screen and (min-height: 480px) {
}

/* AFFICHAGE PAYSAGE */
@media screen and (max-height: 480px) {
}

#containerForceMenuEquipes.animate{
  opacity: 0.8;
  transform: 
    perspective(110em) 
    rotateX(0deg) 
    translateY(0px);
  box-shadow: black 0 0 15px 2px;
}

#containerForceMenuEquipes{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  font-size: 1.1em;
  float: right;
  border-radius: 0 0 100px 100px;
  overflow: hidden;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  /* box-shadow: black 0 0 8px 2px; */
  opacity: 0;
  transform: rotateX(90deg) translateY(-245px);
  transition: 1s transform ease-out 1s, 1s opacity ease-out 1s, 1s box-shadow ease-out 1s;
  box-shadow: rgb(22 31 39 / 82%) 1px 5px 16px 0px, rgb(0 0 0 / 50%) 0px 20px 20px 20px;
}



/* #btForceEquipes{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  overflow: hidden;
  padding: 0;
}
#btForceEquipes {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 500px;
  background-color: #3d3d3d;
} */



/* #containerButton_MenuAccueil {
  position: absolute;
  bottom: 4vh;
  left: 2vh;
  right: 2vh;

  display: grid;
  grid-auto-columns: 1fr 2fr 1fr;
  gap: 3%;
} */


/* #logoBtRandom1 {
  max-height: 80%;
  max-width : 80%;
  max-height: 6vh;
}

#logoBtRandom {
  max-height: 50px;
  max-width: 100%;
  color: white;}

.logo2{
  max-height: 6vh;
  max-width: 100%;
  font-size: 3rem;
  color: #998ea4;
} */



/* #btSettings {
  width:100%;
  height:100%;
  font-size: 3rem;
} */

/* #btRandom, #btSettings, #btVide { */
  /* border-radius: 500px; */
  /* overflow: hidden; */
  /* font-size: 2em; */
  /* color: #998ea4; */
/* } */

/* #btBack, #btVide, #containerListeEquipes            {grid-column: 1;}
#btRandom, #btForceEquipes  {grid-column: 2;}
#btNbEquipes, #btSettings   {  grid-column: 3;  } */


#containerButton_MenuEquipes {
  /* position: fixed; */
  /* bottom: 20px; */
  /* left: 0; */
  /* right: 0; */
  /* margin: auto; */
  /* height: 100px; */
  display: grid;
  /* gap: 0; */
  /* grid-auto-columns: auto auto auto; */
  /* justify-content: center; */
  /* justify-items: stretch; */
  /* align-items: center; */
  box-shadow: 7px 7px 15px rgb(55 84 170 / 23%), -7px -7px 20px rgb(255 255 255), inset 0px 0px 4px rgb(255 255 255 / 20%), inset 7px 7px 15px rgb(0 0 0 / 0%), inset -7px -7px 20px rgb(255 255 255 / 0%), 0px 0px 4px rgb(0 0 0 / 27%);
  border-radius: 100px;
}

#btBack, #btNbEquipes, #btRandom {
  height: 80px;
} 
#containerButton_MenuEquipes.extended #btRandom{
  transition-delay: 0ms;
  transition-duration: 0.2s;
  border-radius: 0;
  width: 80px;
  height: 80px;
}
#containerButton_MenuEquipes.extended #btBack, #containerButton_MenuEquipes.extended #btNbEquipes{
  width: 60px;
  transition-delay: 0.1s;
  transition-duration: 500ms;
  transition-timing-function: ease-in;


}
#btBack, #btNbEquipes {
  width: 0;
  transition-delay: 0ms;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  box-shadow: none;
}
#btBack {
  grid-column: 1;
  background: url("../img/svg/back.svg") no-repeat 50%/ 50% #e8e8f3;
  border-radius: 100px 0 0 100px;
}
#btNbEquipes{
  grid-column: 3;
  background: url("../img/svg/divide.svg") no-repeat 50%/ 50% #e8e8f3;
  border-radius: 0 100px 100px 0;
}
#btRandom {
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease-out;
  grid-column: 2;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 6px 0px, rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 8px 0px, rgba(0, 0, 0, 0.1) 0px 16px 16px 0px, rgba(0, 0, 0, 0.15) 8px 32px 32px 0px, rgba(0, 0, 0, 0.15) 8px 64px 64px 0px; */
  z-index: 0;
  /* box-shadow: 7px 7px 15px rgb(55 84 170 / 23%), -7px -7px 20px rgb(255 255 255), inset 0px 0px 4px rgb(255 255 255 / 20%), inset 7px 7px 15px rgb(0 0 0 / 0%), inset -7px -7px 20px rgb(255 255 255 / 0%), 0px 0px 4px rgb(0 0 0 / 27%); */
  box-shadow: none;
}



#icoChgTeam {
  position:absolute; 
  font-size:20px; 
  font-weight:bolder; 
  left:5%; 
  bottom:5%;
}

#icoRandom{
  position: absolute;
  font-size: 2.8em;
}

.forceEquipe {
  /* width: 33.4%; */
  flex-grow: 1;
  /* padding-right: 5vw; */
  padding: 0 10px;
}

.imgContainerListeLogoTeam
{
  width:50px;
  display:inline-block;
  text-align: center;
}

.imgListeLogoTeam
{
  min-height: 20px;
  min-width: 20px;
  max-width: 100%;
  max-height: 28px;
}
.listeLogoTeam
{
  cursor:pointer;
  font-size:2em;
  padding:15px 50px;
  margin:15px 0;
  background-color:black;
  color:white;
  border-radius:20px;
  border:1px solid grey;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 4vh;
  overflow: hidden;
}

