
/* AFFICHAGE PORTRAIT */
@media screen and (min-height: 480px) {
}

/* AFFICHAGE PAYSAGE */
@media screen and (max-height: 480px) {
}


/* h1::after{
  content:' ⚙️';
  font-size: 1em;
} */

header.titre {
  position:sticky;
  top: 0;
  /* left: 0; */
  /* right: 0; */
}

h1 {
  font-size: 2rem;
  text-align: right;
  margin:0px;
}

h1 {
  text-shadow: 2px 8px 3px rgba(0,0,0,0.2),    0px -5px 35px rgba(255,255,255,0.3);
  z-index: 20;
  margin-bottom: 1vh;
  font-family: "Audiowide";
}

#logoHeader {
  /* border:1px solid red; */
  position:absolute;
  max-width: -moz-available;
  max-height: 80px;
  left:15px;
  top: 5px;
}

#logoHeader #logoTeam{
  /* border:1px solid blue; */
  height: 80px;
  max-width: -moz-available;
  font-size: 60px;
}

/* #logoHeader #formChgTeam {
  border:1px solid brown;
  background-color: rgba(255,255,255,0.8);
  border-radius:100px;
  position:absolute;
  right:0;
  bottom:0;
  overflow:hidden;
}

#logoHeader #formChgTeam {
  max-width:  30px;
  max-height: 30px;
  font-size: 21px;
} */


#questionPresents {
  display: block;
  text-align: right;
  font-size: 1rem;
  color: green; /*#bf0e1c;*/
  margin-top: 0; /* pour empêcher le double margin (bas de h1 + haut de questionPresents */
}
