

.menudeco {
    /* padding: 21px; */
    background: #e8e8f3;
    border-radius: 500px;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgb(55 84 170 / 23%), -7px -7px 20px rgb(255 255 255), inset 0px 0px 4px rgb(255 255 255 / 20%), inset 7px 7px 15px rgb(0 0 0 / 0%), inset -7px -7px 20px rgb(255 255 255 / 0%), 0px 0px 4px rgb(0 0 0 / 27%);
    /* width: 50px; */
    /* height: 50px; */
}

.menuP {
    z-index: 3;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/* .menuP.open {
    opacity: 0.9;
} */

/* .menuP::before, .menuP::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 38px;
    height: 4px;
    position: absolute;
    left: 19px;
    top: 32px;
    transition: 0.2s ease;
    z-index: 1;
}
.menuP::before {
    transform: rotate(0deg);
}
.menuP::after {
    transform: rotate(-90deg);
}

.menuP.open::before {
    transform: rotate(45deg);
}
.menuP.open::after {
    transform: rotate(-45deg);
} */
.menuP.open .sbutton {
    opacity: 1;
    pointer-events: auto;
    /* left: -20px; */
}

/* .menuP.open .sbutton:nth-of-type(2) { */
    /* .menuP.open #btzoomplus {
        left: 120%;
    top: 0;
    background: url("../img/svg/zoom-out.svg") no-repeat 50%/50% #24f1f1;
} */

/* .menuP.open .sbutton:first-of-type { */
.menuP.open #btfullscreen {
    top: calc(-1em - var(--ecart-buttons));
    background: url("../img/svg/fullscreen.svg") no-repeat 50%/ 50% #e8e8f3;
    transition-delay: 0s;
}
/* .menuP.open .sbutton:nth-of-type(2) { */
.menuP.open #btzoom {
    top: calc(-1em - calc(var(--ecart-buttons)*2));    /* top: -190px; */
    background: url("../img/svg/zoom-in.svg") no-repeat 50%/ 50% #e8e8f3;
    transition-delay: 0.05s;
}
/* .menuP.open .sbutton:nth-of-type(3) { */
.menuP.open #btchangeteam {
    top: calc(-1em - calc(var(--ecart-buttons)*3));    /* top: -280px; */
    background: url("../img/svg/team.svg") no-repeat 50%/ 50% #e8e8f3;
    transition-delay: 0.1s;
}
/* .menuP.open .sbutton:last-of-type { */
.menuP.open #btsettings {
    top: calc(-1em - calc(var(--ecart-buttons)*4));/* top: -370px; */
    background: url("../img/svg/gear-solid.svg") no-repeat 50% 45%/50% 45% #e8e8f3;
    transition-delay: 0.15s;
}
.menuP.open #btlogin {
    top: calc(-1em - calc(var(--ecart-buttons)*5));
    /* top: -370px; */
    transition-delay: 0.20s;
}
.menuP.open #btlogin.connected {        background: url("../img/svg/cadenas_opened.svg") no-repeat 50% 45%/50% 45% #e8e8f3;}
.menuP.open #btlogin.disconnected {     background: url("../img/svg/cadenas_closed.svg") no-repeat 50% 45%/50% 45% #e8e8f3;}

.sbutton {
    --ecart-buttons: 5em;
    /* padding: 30px; */
    border-radius: var(--ecart-buttons);
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    /* box-shadow: inherit; */
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 17%) 0px -2px 25px 0px inset, rgb(0 0 0 / 20%) 0px -3px 1px 0px inset;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
    width: 70px;
    height: 70px;
}
.sbutton:hover {
    transform: scale(1.2);
    animation: rotate 1.5s linear infinite;
}


.menuP.open #btfullscreen::before {
    content:"Plein écran";
    right: 130%;
    top: 10px;
    /* top: calc( var(--ecart-buttons) / 7); */
    position: absolute;
    width: max-content;
    background-color: #e8e8f3;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px;
    padding: 15px;
}
.menuP.open #btzoom::before {
    content:"Taille des noms";
    right: 130%;
    top: 10px;
    position: absolute;
    width: max-content;
    background-color: #e8e8f3;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px;
    padding: 15px;
}

.menuP.open #btchangeteam::before {
    content:"Changer d'équipe";
    right: 130%;
    top: 10px;
    position: absolute;
    width: max-content;
    background-color: #e8e8f3;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px;
    padding: 15px;
}
.menuP.open #btsettings::before {
    content:"Gérer les équipes";
    right: 130%;
    top: 10px;
    position: absolute;
    width: max-content;
    background-color: #e8e8f3;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px;
    padding: 15px;
}
.menuP.open #btlogin.connected::before {    content:"Déconnecter"; }
.menuP.open #btlogin.disconnected::before { content:"S'identifier"; }
.menuP.open #btlogin::before {
    right: 130%;
    top: 10px;
    position: absolute;
    width: max-content;
    background-color: #e8e8f3;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px;
    padding: 15px;
}


#menu1.open .background{
    z-index: -23;
    position:absolute;
    /* left: 0; */
    right: -1000px;
    /* top: 0; */
    bottom: -1000px;
    width: 10000px;
    height: 10000px;
    background-color: rgba(0, 0, 0, 0.505);
    content: "";
    border:100px solid yellow;
}


@keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }



/* AFFICHAGE PAYSAGE */
@media screen and (max-height: 480px) {
    .menuP.open #btfullscreen {  left:none; right: 100px; top: calc(var(--ecart-buttons)*1);      }
    .menuP.open #btzoom {        left:none; right: 100px; top: calc(var(--ecart-buttons)*2);}
    .menuP.open #btchangeteam {  left:none; right: 100px; top: calc(var(--ecart-buttons)*3);      }
    .menuP.open #btsettings {    left:none; right: 100px; top: calc(var(--ecart-buttons)*4);      }
    .menuP.open #btlogin {       left:none; right: 100px; top: calc(var(--ecart-buttons)*5);      }

    .sbutton {
        --ecart-buttons: 3.2em;
        /* padding: 30px; */
        border-radius: var(--ecart-buttons);
        cursor: pointer;
        background: #e8e8f3;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        /* box-shadow: inherit; */
        box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 17%) 0px -2px 25px 0px inset, rgb(0 0 0 / 20%) 0px -3px 1px 0px inset;
        transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
        width: 70px;
        height: 70px;
    }
    #menu1{
        top: 0px;
        right: 0px;
        border-radius: 0 0 0 24px;
      }


  }